.box-shadow {
  box-shadow: 2px 1px 60px 0px rgba(255, 255, 255, 0.6) inset;
  -webkit-box-shadow: 2px 1px 60px 0px rgba(255, 255, 255, 0.6) inset;
  -moz-box-shadow: 2px 1px 60px 0px rgba(255, 255, 255, 0.6) inset;
}

.box-shadow:hover {
  box-shadow: 2px 1px 60px 0px rgba(255, 255, 255, 0.9) inset;
  -webkit-box-shadow: 2px 1px 60px 0px rgba(255, 255, 255, 0.9) inset;
  -moz-box-shadow: 2px 1px 60px 0px rgba(255, 255, 255, 0.9) inset;
}

.writing-mode {
  writing-mode: vertical-lr;
}

.scroll-animation {
  animation: scrollAnimation 1s ease infinite;
}

@keyframes scrollAnimation {
  0%,
  100% {
    bottom: 6px;
  }
  50% {
    bottom: 16px;
  }
}
